/*

Theme Name: Grand Peaks at Sisters
Theme URI: http://theme.co/x/
Author: Halsey Design LLC.
Author URI: http://halsey-design.com/
Description: Custom X Child Theme Developed for Grand Peaks at Sisters.
Version: 1.0.0
Template: x

*/


@import "partials/variables";
@import "partials/global";
@import "partials/header-nav";