.x-colophon.top{
	background-color:$a_white!important;
}

footer{
	h4{
		margin-top: 0;
		color:$a_black;
	}
	p{
		color:$a_black;
	}
	#media_image-2{
		img{
			width:65%;
			height:auto;
			float:right;
		}
	}
	form{
		label{
			color:$a_black;
			font-size: 0.85em;
		}
		input[type="text"],input[type="email"]{
			height:3.0em;
		}
		[type="submit"]{
			background-color: transparent;
			text-shadow: none;
			box-shadow: none;
			border-radius: 0;
			border-color: $a_black;
			color:$a_black;
			width:100%;
		}

	}
}

.footer_sm_logo{
	display:block;
	width:45%;
	float:left;
	margin-top: 1.5em;
	&:last-child{
		float:right;
	}
}
.ccb_footer{
	color:$a_black;
	font-size: 0.75em;
	letter-spacing: 0.025em;
	text-align: center;
	width: 100%;
	display:block;
}